// Email Message on Cart Checkout

#email-message {
  margin-top: 20px;
}

#empty-cart {
  font-size: 3em;
  color: #1c77bd;
  font-style: italic;
  margin-bottom: 30px;
}

#empty-cart-flex {
  display: flex;
  justify-content: space-evenly;
}

@media ( max-width: 700px ) {

  #empty-cart-flex {
    flex-direction: column;

    img {
      width: 80vw;
    }

  }

}